<div class="container align-content-center ">
  <div class="container center">
    <div class="container color" >
      <div class="center">
      <h2>Register form:</h2>
      <label for="username">Username:</label><br>
      <input class="input-box" id="username" type="text"><br>
      <label for="pass">Password:</label><br>
      <input class="input-box" type="password" id="pass"><br>
      <label for="passR">Repeat password:</label><br>
      <input class="input-box" type="password" id="passR"><br>
      <label for="name">Name:</label><br>
      <input class="input-box" id="name" type="text"><br>
      <label for="email">E-mail:</label><br>
      <input class="input-box" id="email" type="email">
        <button class="btn btn-success" id="register">Register</button><br>
      <a href="#username">Already have an account?</a>
      </div>
    </div>
  </div>
</div>

